

    <header>

        <div id="menu-bar" class="fas fa-bars">
        </div>

        <a href="index.html" class="logo"><span>T</span>ravel</a>
        <nav class="navbar">
            <a href="index.html">Главная</a>
            <a href="profil.html">Профиль</a>
            <a href="tours.html">Мои туры</a>
            <a href="dost.html">Доступные туры</a>
        </nav>

        <div class="icons">
            <img class="" src="/images/image3.png" alt="">
        </div>

        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="Search here...">
            <label for="search-bar"></label>
        </form>
    </header>
    <h1 class="heading">
        <span>М</span>
        <span>о</span>
        <span>и</span>
        <span> </span>
        <span>т</span>
        <span>у</span>
        <span>р</span>
        <span>ы</span>
    </h1>


    <select id="country" name="country" class="form-control">
        <option value="FR">Франция</option>
        <option value="IT">Италия</option>
        <option value="US">США</option>
        <option value="RUS">Россия</option>
    </select>

    <div class="box">
        <a href="#"><img class="images_countri" src="https://i.postimg.cc/HnLzyb6d/Italy.jpg" alt=""></a>
        <div class="content">
            <div class="i_b">
                <h3><i class="fas fa-map-market-alt"></i>Италия</h3>
                <p>Мои впечатления: В Италии мне не понравилось,т.к. там очень скучно,мало мест для экскурсий,также там мало доистопримечательнойстей. Но есть и плюс - там очень вкусная пицца!</p>
            </div>
        </div>
    </div>

    <div class="box">
        <a href="#"><img class="images_countri" src="https://i.postimg.cc/zf1kksxd/France.jpg" alt=""></a>
        <div class="content">
            <div class="i_b">
                <h3><i class="fas fa-map-market-alt"></i>Франция</h3>
                <p>Мои впечатления: Во Франции мне очень понравилось,т.к. это очень необычная страна,также там очень вкусный багет и круассаны.</p>
            </div>
        </div>
    </div>

    <div class="box">
        <a href="#"><img class="images_countri" src="https://i.postimg.cc/dtp6hkrc/usa.jpg" alt=""></a>
        <div class="content">
            <div class="i_b">
                <h3><i class="fas fa-map-market-alt"></i>Америка</h3>
                <p>Мои впечатления: В Америке на меня произвели впечатления дома, т.к. они очень-преочень сильно похожи друг на друга.</p>
            </div>
        </div>
    </div>

    <div class="box">
        <a href="#"><img class="images_countri" src="https://i.postimg.cc/kgScKJv6/Russia.jpg" alt=""></a>
        <div class="content">
            <div class="i_b">
                <h3><i class="fas fa-map-market-alt"></i>Россия</h3>
                <p>Мои впечатления: В России мне очень понравилось,т.к. там очень добрый народ, там очень интересно.</p>
            </div>
        </div>
    </div>
    </div>
<
<style>
    import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    .form-control {
    }
</style>
